*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    background-color: rgb(166, 166, 166);
    
}
.principal{
    display: flex;
    justify-content: space-evenly;
}
.formulario{
    border: 1px solid white;
    margin-top: 30px;
    text-align: justify;
}
.formularios{
    border: 1px solid black;
    margin-top: 30px;
    padding-inline: 30px;
    padding-block: 10px;
    margin: 5px;
    width: 500px;
    
}
h1{
    background-color: white;
    width: 100%;
}
#title{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.671) 50%, rgba(128, 128, 128, 0.877) 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;

}
p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

button{
    border: none;
    width: 80px;
}
button:hover{
    background-color: grey;
}

